/rebel.xml

# maven build files
target/
bin/

# Eclipse project files
.classpath
.project
.settings
.externalToolBuilders
.myumldata

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# MAC_OSX
*.DS_Store

